@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont;
  background-color: #101040;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  body::-webkit-scrollbar {
    display: none; }
  body #hero {
    font-size: 10vw;
    font-weight: 900;
    text-align: center;
    display: block;
    background: linear-gradient(-45deg, #ff33c9, #f0a00a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 10vh;
    cursor: default;
    transform: translateY(-30%); }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-weight: 400;
    text-align: center;
    margin: 1rem auto;
    max-width: 90%;
    line-height: 1.5; }
    body h1,
    body h2,
    body h3,
    body h4 {
      font-size: 2rem; }
      body h1 + h2,
      body h2 + h2,
      body h3 + h2,
      body h4 + h2 {
        font-size: 1.5rem; }
      body h1 + h3,
      body h2 + h3,
      body h3 + h3,
      body h4 + h3 {
        font-size: 1.2rem; }
      body h1 + h4,
      body h2 + h4,
      body h3 + h4,
      body h4 + h4 {
        font-size: 1rem; }
  body a {
    color: #ff33c9;
    text-decoration: none;
    border-bottom: 2px solid #ff33c9;
    transition: border-bottom-color 0.4s ease-in-out, color 0.4s ease-in-out; }
    body a:hover {
      border-bottom-color: #f0a00a;
      color: #f0a00a; }
  body #or {
    font-size: smaller; }
  body #home {
    color: #d4ff00;
    text-decoration: none;
    border-bottom: 2px dotted #d4ff00;
    transition: border-bottom-color 0.1s ease-in-out, color 0.1s ease-in-out; }
    body #home:hover {
      border-bottom-color: #fff;
      color: #fff; }
  @media only screen and (max-width: 600px) {
    body #hero {
      font-size: 20vw;
      margin-top: 2vh; }
    body h1,
    body h2,
    body h3,
    body h4 {
      font-size: 1.5rem;
      margin: 0.5rem auto; }
      body h1 + h2,
      body h2 + h2,
      body h3 + h2,
      body h4 + h2 {
        font-size: 1.2rem; }
      body h1 + h3,
      body h2 + h3,
      body h3 + h3,
      body h4 + h3 {
        font-size: 1rem; }
      body h1 + h4,
      body h2 + h4,
      body h3 + h4,
      body h4 + h4 {
        font-size: 0.8rem; } }
