.gear {
  height: 50px;
  border: none;
  outline: none;
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.2s ease-in-out; }

.gear:hover {
  transform: scale(1.1); }

.gear:active {
  transform: scale(0.9); }
