@font-face {
    font-family: "Mundial";
    src: url("../fonts/400i.ttf") format("truetype"), url("../fonts/400i.woff") format("woff");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Mundial";
    src: url("../fonts/400.ttf") format("truetype"), url("../fonts/400.woff") format("woff");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "Mundial";
    src: url("../fonts/700i.ttf") format("truetype"), url("../fonts/700i.woff") format("woff");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "Mundial";
    src: url("../fonts/700.woff") format("woff");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}